html[cosy-youtube] ytd-app #masthead-container.ytd-app {
  transform: translateY(calc(var(--ytd-toolbar-height) * -1));
  display: none;
}

html[cosy-youtube] ytd-page-manager#page-manager.ytd-app {
  margin-top: 0 !important;
}

html[cosy-youtube] ytd-watch-flexy[full-bleed-player] #full-bleed-container.ytd-watch-flexy {
  height: 100vh !important;
  max-height: 100vh !important;
  min-height: auto !important;
}
